*{font-family: 'Open Sans', sans-serif;}
body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.home__card {
    width: 100%;
    height: 100vh;
    background-color: #9D9D9D;
    font-family: 'Open Sans', sans-serif;
}

.main__presentation {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 250px;
}

.main__title {
    font-size: 70px;
    letter-spacing: 3px;
}

.main__role {
    margin-top: 10px;
    font-size: 20px;
}

.main__rs .oval {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin: 20px 20px;
    cursor: pointer;

}

.card__project {
    height: 100vh;
    width: 100%;
    background-color: #132C33;
    position: relative;
}

.mockup {
  width:100%;
  margin:auto;
  text-align:center;
  padding-top: 150px;
}

.mockup img {
  width:50%;
}

.project__number {
  position: absolute;
  top: 0;
  font-size:200px;
  opacity: 0.3;
  font-family: sans-serif;
}

.project__infos {
  position:absolute;
  top:0;
  width:50%;
  right:0;
  background-color:rgba(50, 79, 87, 0.85);
  height: 100vh;
  color:#fff;
  padding:120px 40px;
}

.project__title {
  font-size:45px;
  text-transform: uppercase;
}

.project__line {
  width:100px;
  height:2px;
  background-color: #fff;
  margin-top: 20px;
}

.project__description {
  width:70%;
  line-height: 20px;
  margin-top: 30px;
}

.project__button {
  margin-top: 40px;
  width:200px;
  height:40px;
  border-radius:20px;
  background-color: #fff;
  color:#000;
  cursor: pointer;
}

.card__project.two {
  background-color:#1F2A30;
}

.project__infos.two {
  background-color: rgba(24, 33, 38, 0.85);
}

.card__project.three {
  background-color:#F9F9F9;
}

.project__infos.three {
  background-color:rgba(202, 202, 202, 0.85);
}

.card__project.four {
  background-color:#015E7F;
}

.project__infos.four {
  background-color:rgba(7, 114, 150, 0.85);
}
